.body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #F2EBDC;
    scroll-behavior: smooth; /* Agrega scroll suave */
}   
.menu {
    font-family: "Josefin Sans", sans-serif;
    text-decoration: underline;
    background-color:  #F2EBDC;
    text-align: center;

}

.menu a {
    text-decoration: none;
    color: #03658C;
    margin-right: 20px;
}

.menu a:hover {
    color: #4E8DA6;
}

h1{
    font-family: "Josefin Sans", sans-serif;
    color: #03658C;
}
h2{ 
         font-family:monospace;

         color: #03658C;
}
h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
img{
    border-radius: 140px;
    border-style:groove;
    border-width: 10px 10px 10px 10px;
    border-color: #03658C #4E8DA6 #88B5BF   ;

   
}
div {   
    font-size: 25px;
    text-align: justify ;   
    padding-top: 70px;
    padding-right: 70px;
    padding-bottom: 70px;
    padding-left: 70px;
  }
.socialmedia{   
	text-decoration: none; 
    color: #03658C;   
     font-size: 80px;
    text-align: center;
    display: inline-block;
    height: 200px;
    width: 120px ;
    
}
I
.socialmedia:hover{
    cursor: pointer;
    transition-delay: 0.1s;
}
a{
    color: #03658C;
}
a:visited{
    color: black;
}
a:hover{
    color: #03658C;
    cursor: pointer;
    transition-delay: 0.1s;
 
}
.cabecera{
    scroll-behavior: smooth; /* Agrega scroll suave */
    text-align: center  ;
    background-color: #F2EBDC;
}
.education{
    scroll-behavior: smooth; /* Agrega scroll suave */
    text-align: center  ;
}
.edu{
    text-align: center;
    justify-content: end;
    font-size: 15px
}

@media screen and (min-width: 601px) {
    .cabecera {
      font-size: 2.5em; 
      font-family: "Josefin Sans", sans-serif;
      color: #03658C;
    }
  }

@media screen and (max-width: 601px) {
    .body {
        padding: 30px;
    }
}
@media screen and (min-width: 401px) {
    .socialmedia{
        font-size: 1.5em;
        display: inline-block;
    }
}